#nbr {
  animation: fadebot ease 2s;
  -webkit-animation: fadebot 2s ease;
  -moz-animation: fadebot 2s ease;
}

#ftr {
  animation: fadeup ease 2s;
  -webkit-animation: fadeup 2s ease;
  -moz-animation: fadeup 2s ease;
}

#experience,
#projects,
#introduction {
  animation: fadeleft ease 2s;
  -webkit-animation: fadeleft 2s ease;
  -moz-animation: fadeleft 2s ease;
}

#achievement,
#profile {
  -webkit-animation: faderight 2s ease;
  -moz-animation: faderight 2s ease;
  animation: faderight ease 2s;
}

#i1 {
  -webkit-animation: spin 2.5s ease;
  -moz-animation: spin 2.5s ease;
  animation: spin 2.5s ease;
}

@-moz-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-moz-keyframes faderight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes faderight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes faderight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-moz-keyframes fadeup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadeup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadeup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-moz-keyframes fadebot {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadebot {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadebot {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-moz-keyframes spin {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes spin {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
